.scfirst {
    &.--blogfirst {
        padding-bottom: var(--pd100);
        .products {
            position: relative;
            display: initial;
            height: 100%;
            &__item {
                overflow: hidden;
                flex-direction: row-reverse;
                --mx-h: 334px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                max-height: var(--mx-h);
                border-radius: 40px;
                @include dflex;
                @include sm {
                    display: inherit;
                }
                &-img {
                    --mx-w: 586px;
                    max-width: var(--mx-w);
                    width: 100%;
                    padding-bottom: 29%;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    @include ipad {
                        width: 70%;
                        margin: 0 auto;
                        padding-bottom: 45%;
                        max-width: 100%;
                    }
                    @include sm {
                        max-height: 334px;
                        width: 100%;
                        padding-bottom: initial;
                        height: 100%;
                        max-width: initial;
                        border-top-right-radius: 40px;
                        border-top-left-radius: 40px;
                        display: flex;
                    }
                    overflow: hidden;
                    .imgproduct {
                        height: 100%;
                        width: 100%;
                        will-change: initial;
                        @include sm {
                            width: 100%;
                            position: initial;
                            transform: translate(0);
                            object-fit: cover;
                        }
                    }
                }
                &-main {
                    --mx-h: 334px;
                    min-height: var(--mx-h);
                    height: 100%;
                    border-bottom-right-radius: initial;
                    border-top-left-radius: 40px;
                    --mx-w: 612px;
                    --pd: 58px 78px 58px 47px;
                    width: var(--mx-w);
                    padding: var(--pd);
                    @include ipad {
                        --pd: 43px 30px 34px 23px;
                        width: initial;
                    }
                    @include sm {
                        border-top-right-radius: 0;
                        border-top-left-radius: 0;
                        border-bottom-right-radius: 40px;
                    }
                    .text {
                        position: initial;
                        margin-bottom: 21px;
                        @include ipad {
                            position: initial;
                        }
                    }
                    .heading {
                        margin-top: 21px;
                        font-size: 28px;
                        line-height: 40px;
                        letter-spacing: 0.28px;
                        text-transform: none;
                        @include opacity1;
                        @include ipad {
                            @include opacity0;
                            display: none;
                        }
                        &.--mini {
                            display: none;
                            @include opacity0;
                            @include ipad {
                                @include opacity1;
                                display: block;
                            }
                        }
                    }
                    .description {
                        padding-bottom: 0;
                        @include ipad {
                            max-width: initial;
                            margin: 0;
                        }
                    }
                }
                .person {
                    display: none;
                    @include ipad {
                        display: flex;
                    }
                }
            }
        }
    }
}

.scemail {
    padding: var(--pd80) 0;
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        gap: var(--gap26);
        align-items: center;
        @include sm {
            display: flex;
            flex-direction: column;
        }
    }
    .textbox {
        @include dflex;
        grid-column: 1/8;
        @include xs {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        &__icon {
            margin-right: var(--mg24);
            // @include sm {
            //     margin: 0;
            //     --mg24: 32px;
            //     margin-bottom: var(--mg24);
            // }
            @include xs {
                margin: 0;
                --mg24: 32px;
                margin-bottom: var(--mg24);
            }
        }
    }
    &__inputgruop {
        grid-column: 8/13;
        width: 100%;
        --h: 80px;
        height: var(--h);
        background: $white-cl;
        border-radius: 100px;
        @include dflex;
        padding: 0 8px 0 16px;
        @include xs {
            height: 100%;
            background: initial;
            display: flex;
            flex-direction: column;
        }
        &-item {
            border-radius: 100px;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            display: block;
            @include text(var(--fs16), dr, var(--lh26), #010725, none);
            &::-webkit-input-placeholder {
                @include text(var(--fs16), dr, var(--lh26), #010725, none);
            }
            @include xs {
                width: 100%;
                height: 80px;
                margin-bottom: 20px;
                padding: 8px 8px 8px 16px;
            }
        }
        .btndown {
            --btn-w: 140px;
            min-width: var(--btn-w);
            --btn-h: 64px;
            @include text(var(--fs14), db, var(--lh26), $white-cl, uppercase);
            letter-spacing: 1.6px;
            @include xs {
                --btn-h: 70px;
                width: 100%;
                padding: 27px 32px;
                min-width: inherit;
                background-color: #031fb4;
            }
        }
    }
}

.blogpost {
    padding: var(--pd200) 0 150px;
    width: 100%;
    height: 100%;
    .textbox {
        @include xs {
            margin-bottom: var(--mg24);
        }
        &__listtag {
            margin: 0 -8px;
            @include xs {
                width: 100%;
                height: 100%;
                margin: 0;
                display: flex;
                text-align: center;
                flex-direction: column;
            }
            &-item {
                @include transition(0.6s);
                font-family: dr;
                cursor: pointer;
                text-transform: initial;
                margin: 0 8px;
                border-radius: 100px;
                padding: 7px 24px;
                background-color: $grey-cl;
                @include xs {
                    margin: 0;
                    margin-bottom: 8px;
                    width: 100%;
                }
                &:hover {
                    background-color: $blue-light;
                    @include transition(0.6s);
                }
                &.active {
                    @include transition(0.6s);
                    background-color: $blue-light;
                }
            }
        }
    }
    .main-wrap {
        .blogpost__list {
            --h-list: 1195px;
            height: var(--h-list);
            display: none;
            &.active {
                display: block;
                .blogpost__list-item {
                    display: block;
                }
            }
            @include ipad {
                height: calc(var(--h-list) * 1.58);
            }
            @include xs {
                height: calc(var(--h-list) * 2.87);
            }
            &-item {
                width: 100%;
                height: 100%;
                position: relative;
                max-height: 100%;
                margin-bottom: 26px;
                display: none;
                .flickity-viewport {
                    height: 100% !important;
                }
                .products {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    @include ipad {
                        width: 100%;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: auto;
                    }
                    @include sm {
                        position: initial;
                        display: grid;
                        margin: 0;
                        width: 100%;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: auto;
                    }
                    @include xs {
                        grid-template-columns: 1fr;
                    }
                    &__item {
                        height: 100%;
                        min-width: 378px;
                        max-height: 590px;
                        @include xs {
                            min-width: initial;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .blogpost__btns {
            @include dflex;
            &-numbers {
                margin: 0 16px;
                cursor: pointer;
                .number {
                    @include transition(0.6s);
                    padding: 4px 8px;
                    &.active {
                        @include transition(0.6s);
                        color: $blue-light;
                    }
                    &:hover {
                        @include transition(0.6s);
                        color: $blue-light;
                    }
                }
            }
            &-img {
                cursor: pointer;
                transform: rotate(0deg);
                @include dflex;
                @include transition(0.6s);
                svg {
                    fill: $blue;
                    @include transition(0.6s);
                }
                &.--next {
                    transform: rotate(180deg);
                }
                &:hover {
                    svg {
                        fill: $blue-light;
                    }
                }
                &.active {
                    @include transition(0.6s);
                    svg {
                        @include transition(0.6s);
                        fill: $blue-light;
                    }
                }
                &.disable {
                    svg {
                        fill: $grey-cl;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

// blogdetailpage
.scfirst {
    &.--blog-dl {
        .textbox {
            margin-top: var(--pd40);
            margin-bottom: 35px;
            @include xs {
                margin-bottom: 25px;
            }
            .heading {
                max-width: 900px;
            }
            .description {
                margin: 0;
                margin-top: 16px;
                max-width: initial;
            }
        }
    }
}

// details
.scdetails {
    padding-bottom: var(--pd120);
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        --gap64: 64px;
        gap: var(--gap64);
        @include xs {
            --gap64: 40px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
    .mg {
        margin: 24px 0 16px 0;
    }
    .img1 {
        grid-column: 1/13;
        display: flex;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .img2 {
        grid-column: 2/12;
        display: flex;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__page {
        grid-column: 3/11;
        .textbox {
            .gr__des {
                margin: var(--pd40) 0;
                .description {
                    &:first-child {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
    .itembox {
        grid-column: 2/12;
        padding: var(--pd80) 32px;
        .description {
            max-width: 613px;
            margin: 0 auto;
            @include xs {
                max-width: none;
            }
        }
    }
}

.--postdetail {
    padding: var(--pd120) 0;
    .textbox {
        @include ipad {
            max-width: 100%;
            flex-direction: initial;
        }
        @include xs {
            align-items: center;
            flex-direction: column;
        }
        .btndown {
            width: initial;
            padding: 27px 32px;
            @include xs {
                width: 100%;
            }
        }
    }
}
